<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="37507CedricTallichet.JsonViewer" Publisher="CN=AD495E24-07FF-401C-AE86-F19FEB93B46C" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Json Viewer</DisplayName>
    <PublisherDisplayName>Cedric Tallichet</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="JsonViewer.App">
      <VisualElements DisplayName="Json Viewer" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="JsonViewer allows you to view json files" ForegroundText="dark" BackgroundColor="#FFFAC6">
        <DefaultTile ShowName="allLogos" ShortName="Json Viewer" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFAC6" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name=".json">
            <DisplayName>Json Files</DisplayName>
            <InfoTip>a JavaScript Object Notation file</InfoTip>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType ContentType="application/json">.json</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>